version: '3'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend 
    ports:
      - "8223:8223"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development